<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="naya.ganj.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Nayaganj"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nayaganj"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".data.sidemenu.view.RetailerActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.MyVirtualActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.CustomerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.MyCartActivity"
            android:exported="false" />
        <activity
            android:name=".data.category.view.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.OTPVerifyActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".data.sidemenu.view.MyOrdersDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".data.sidemenu.view.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.PaymentOptionActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".data.mycart.view.AddressListActivity"
            android:exported="false" />
        <activity
            android:name=".data.category.view.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>